# There are a number of modifiers that are allowed to be used in some
# of the different fields. They provide the following subsitutions:
#
# %n the "kernel number" of the device.
#    For example, 'sda3' has a "kernel number" of '3'
# %e the smallest number for that name which does not matches an existing node
# %k the kernel name for the device
# %M the kernel major number for the device
# %m the kernel minor number for the device
# %b the bus id for the device
# %c the string returned by the PROGRAM
# %s{filename} the content of a sysfs attribute
# %% the '%' char itself
#

# Media automounting
SUBSYSTEM=="block", ACTION=="add"    RUN+="/etc/udev/scripts/mount.sh"
SUBSYSTEM=="block", ACTION=="remove" RUN+="/etc/udev/scripts/mount.sh"

# Try and modprobe for drivers for new hardware
ACTION=="add", DEVPATH=="/devices/*", ENV{MODALIAS}=="?*", RUN+="/sbin/modprobe $env{MODALIAS}"

# Create a symlink to any touchscreen input device
# Trigger based on input type, that the evbit (-e) has EV_SYN and EV_ABS,
# has an EV_ABS value (-a) which is used for touchscreen type devices.
SUBSYSTEM=="input", KERNEL=="event[0-9]*", ENV{ID_INPUT_TOUCHSCREEN}=="1", SYMLINK+="input/touchscreen0"

# zwave tty for Magellan/Nene ? Yellowstone (on WS it ttymxc2)
#SUBSYSTEM=="tty", KERNEL=="ttymxc3", SYMLINK+="ttyZwave0"

# These are the USB bridge controller dongle (for controller/standalone mode) and the xg23 SiLabs radio board (FISH mode)
# These can both be removed in POC phase of Pegasus
SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", OPTIONS+="link_priority=1", SYMLINK+="ttyZwave0"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1024", OPTIONS+="link_priority=1", SYMLINK+="ttyZwave0"

# Hotplug usb gadget
KERNEL=="ttyGS0", SUBSYSTEMS=="tty", ACTION=="add", RUN+="/bin/systemctl start serial-getty@ttyGS0.service"
KERNEL=="ttyGS0", SUBSYSTEMS=="tty", ACTION=="remove", RUN+="/bin/systemctl stop serial-getty@ttyGS0.service"

# Symlink NFC dongle
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="ttyNFC"

# Symlink supported Zigbee dongles
#  Sonoff ZBDongle-E
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d4", OPTIONS+="link_priority=2", SYMLINK+="ttyZigbee0"
# ZB-GW04 dongle
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", OPTIONS+="link_priority=3", SYMLINK+="ttyZigbee0"
# Aduro MG21 dongle
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", OPTIONS+="link_priority=1", SYMLINK+="ttyZigbee0"
