ACTION=="add|change", KERNEL=="event[0-9]*", ATTRS{name}=="goodix-ts", ENV{ID_INPUT_TOUCHSCREEN}="1", ENV{ID_INPUT_TABLET}="0", ENV{LIBINPUT_CALIBRATION_MATRIX}="1.058386 0.012404 -0.006592 -0.013100 3.093833 0.019802"
