# schooner config file
#
[log]
format = {{.Blue}}{{.Date}} {{.Time}}{{.Reset}} {{.Bold}}{{ColorizeLevel .Level}}{{.LevelJustified}}{{.Reset}} {{.Underline}}{{.LoggerName}}{{.Reset}} {{if .Filename}}{{.Filename}}:{{.Line}} {{end}}- {{ColorizeLevel .Level}}{{.Message}}{{.Reset}}
level = notice
output = /var/log/schooner.log 

[fabric.chunk.norris]
putter_buffer_size = 1000000
