<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name>Vivint Hub</name>
<service>
<type>_vivint-hub._tcp</type>
<port>8443</port>
<txt-record>sn=SERIAL_NUMBER</txt-record>
<txt-record>ver=FIRMWARE_VERSION</txt-record>
</service>
</service-group>
