[Unit]
Description=Create compressed swap in memory using zram
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30sec
ExecStart=/usr/libexec/zram-swap-init start
ExecStop=/usr/libexec/zram-swap-deinit stop
